"*":
  core:
    audioBeep: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "spell-check"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    projectHome: "/home/dan/work/atom"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Consolas"
    fontSize: 19
    invisibles: {}
    lineHeight: 1
    preferredLineLength: 100
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "3d4eea3d-6513-e09b-0068-da7b82f6c5cf"
  "spell-check": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
